<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard - Profil</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= icon('user', 'Mon profil') %>
          </h3>  
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <%= icon('child', 'Mes données') %>
                  </h4>
              </div>
              <div class="panel-body">
                <strong>Adresse e-mail :  </strong><%= current_user.email %>
                <br></br>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <%= icon('key', ' Modifier mot de passe') %>
                  </h4>
              </div>
              <div class="panel-body">
                <%= f.input :current_password, placeholder: "Current password", hint: "we need your current password to confirm your changes", required: true %>
                <%= f.input :password, placeholder: "Your password", required: false %>
                <%= f.input :password_confirmation, placeholder: "Retape your password", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false  %>
              </div>    
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                  <%= icon('at', 'Modifier e-mail') %>
                </h4>
            </div>
            <div class="panel-body">
              <%= f.input :email, autocomplete: "off", placeholder: "Your mail" %>        
            </div> 
      </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= icon('trash', 'Supprimer ce compte') %>
                </h4>
              </div>
                <div class="panel-body">
                  <div class="text-center">
                    <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger' %>
                </div> 
          </div>
    </div>
    <%= devise_error_messages!%>
      <div class="text-center">
        <%= f.button :submit, "Update all informations", class: 'btn btn-success' %>
      </div>
    </div>
</div>
<% end %>