<p id="notice"><%= notice %></p>

<h1>Listing Receiveds</h1>

<table>
  <thead>
    <tr>
      <th>Send by</th>
      <th>Content</th>
      <th>Is command</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receiveds.each do |received| %>
      <tr>
        <td><%= received.send_by %></td>
        <td><%= received.content %></td>
        <td><%= received.is_command %></td>
        <td><%= link_to 'Show', received %></td>
        <td><%= link_to 'Edit', edit_received_path(received) %></td>
        <td><%= link_to 'Destroy', received, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Received', new_received_path %>
