<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= @sended.target %>
</p>

<p>
  <strong>Content:</strong>
  <%= @sended.content %>
</p>

<%= link_to 'Edit', edit_sended_path(@sended) %> |
<%= link_to 'Back', sendeds_path %>
