<%= simple_form_for(@scheduled) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :progress %>
    <%= f.input :send_at, class: "input-group date", id: "datetimepicker2" %>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
        </script>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
