<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @scheduled.content %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @scheduled.progress %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @scheduled.send_at %>
</p>

<%= link_to 'Edit', edit_scheduled_path(@scheduled) %> |
<%= link_to 'Back', scheduleds_path %>
