<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @command.name %>
</p>

<p>
  <strong>Script:</strong>
  <%= @command.script %>
</p>

<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
